
@font-face {
    font-family: JetBrains;
    src: url('assets/fonts/JetBrainsMonoNerdFontMono.ttf') format('truetype');
}

@font-face {
    font-family: Icons;
    src: url('assets/fonts/SymbolsNerdFontMono.ttf') format('truetype');
}

@font-face {
    font-family: Inter;
    src: url('assets/fonts/Inter.ttf') format('truetype');
}

@font-face {
    font-family: NotoJP;
    src: url('assets/fonts/NotoJP.ttf') format('truetype');
}

@font-face {
    font-family: Playfair;
    src: url('assets/fonts/PlayFair.ttf') format('truetype');
}

@font-face {
    font-family: Quicksand;
    src: url('assets/fonts/Quicksand.ttf') format('truetype');
}


/* Reset some default browser styles */
body, h1, p, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: JetBrains;
    margin: 0 0 6vh 0;
    background-color: #000000;
    transition:
        background-color 0.5s ease-in-out
    ;
}

#titlebox {
    display: flex;
    flex: 1 1 auto;
    border-radius: 4px;
    padding: 0 4vw;
    transition:
        transform 1s ease
    ;
}

#main-content {
    transition:
        transform 1.4s ease,
        opacity 0.4s ease
    ;
}

#titlebox.switching {
    transform: translateY(-50vh);
}

#main-content.switching {
    transform: translateY(100vh);
    opacity: 0;
}

.backtext {
    font-family: JetBrains;
    position: absolute;
    z-index: 1;
    -webkit-text-stroke: 3px #fff5;
    color: #0000;
    font-size: 36mm;
}

.fronttext {
    font-family: Playfair;
    font-variation-settings:
        'wght' 520
    ;
    position: absolute;
    z-index: 2;
    color: #000b;
    font-size: 36mm;
    margin: 0 26mm;
    font-style: italic;
}

@supports (-webkit-appearance: none) {
    .backtext {
        -webkit-text-stroke: 2.5px #fff5;
        position: unset;
    }
    .fronttext {
        font-weight: 100;
    }
}


#main-content {
    font-family: Inter;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 16vw 4vh 16vw;
}

br {
    margin: 2mm;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.tab {
    font-family: Quicksand;
    font-size: 5mm;
    font-weight: 520;
    padding: 10px 20px;
    margin: 4px;
    border-radius: 64px;
    background-color: #000;
    color: #e0e0e0;
    border: none;
    cursor: pointer;
    transition:
        background-color 0.2s ease-out,
        color 0.2s ease-out,
        font-weight 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
        padding 0.4s cubic-bezier(0.34, 1.56, 0.64, 1)
    ;
}

.tab:hover {
    background-color: #e0e0e0;
    color: #000;
    font-weight: 700;
    padding: 10px 30px;
}

.tab:focus {
    background-color: #e0e0e0;
    font-weight: 700;
    color: #000;
}

.tab.selected-tab {
    background-color: #e0e0e0;
    font-weight: 700;
    color: #000;
}

footer-bar {
    /*border-radius: 26px;*/
    border-radius: 26px 26px 0 0;
    width: 90%;
    background-color: #000;
    margin: 0 auto;
    /*margin: 0 auto 2px auto;*/
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
}

.footer-left {
    justify-content: left;
    text-align: left;
}

.footer-right {
    justify-content: right;
    text-align: right;
}

.footer-center {
    display: flex;
    justify-content: center;
}

.imgc {
    margin: 10px auto;
}

.imgl {
    display: inline-block;
    width: 100%;
    margin: 10px 0px;
}

.imgr {
    display: inline-block;
    width: 100%
    margin: 10px 0px;
}

.imgl img {
    margin: 20px 10px 0px 0px;
    float: left;
}

.imgr img {
    margin: 20px 0px 0px 10px;
    float: right;
}

.bannerimg {
    width: 100%;
    object-fit: cover;
    margin: 26px 0;
}

img {
    height: 26vh;
    max-height: 400px;
    width: auto;
    object-fit: contain;
    border-width: 2px;
    border-style: solid;
    border-color: #000d;
}

.boxed {
    border-width: 0 0 0 2px;
    border-color: #000d;
    border-style: solid;
    padding: 0 0 0 6px;
    margin: 6px 8px;
}

#main-content h1 {
    font-size: 8mm;
    padding: 24px 0 4px 0;
}

#main-content h2 {
    text-align: left;
}


#main-content h3 {
    text-align: left;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

#main-content h4 {
    text-align: right;
    font-size: 14px;
    font-weight: lighter;
    font-style: italic;
}

#main-content p {
    text-align: left;
    font-size: 18px;

    letter-spacing: 0.3;
    line-height: 1.5;
}

#main-content li {
    text-align: left;
    font-size: 18px;

    letter-spacing: 0.3;
    line-height: 1.5;
}

#main-content hr {
    width: 100%;
    border-width: 1px;
    border-color: #000d;
    border-style: solid;
}

#main-content code {
    font-family: JetBrains;
    font-weight: lighter;
    white-space: pre;
}

#main-content code.codeblock {
    display: block;
    text-align: left;
    background-color: #000d;
    color: #e0e0e0;
    padding: 6px 8px;
    margin: 6px;
}

.button-link {
    font-variation-settings:
        'wght' 250
    ;
    padding: 0px 10px;
    background: #000c;
    color: #e0e0e0;
    text-decoration: none;
    border: 1px solid #000c;
    border-radius: 2px;
    display: inline-block;
    transition:
        background-color 0.15s cubic-bezier(0.4,0,0.2,1),
        color 0.3s ease
    ;
}
.button-link:hover {
    color: #000c;
    background-color: #0000;
}

table {
    width: fit-content;
    border-width: 2px;
    padding: 6px;
    margin: 8px;
    border-style: dashed;
    border-color: #000c;
}
th {
    border-width: 2px;
    border-style: solid;
    padding: 4px 8px;
}
td {
    border-width: 2px;
    border-style: solid;
    padding: 4px 8px;
}

@media only screen and (max-width: 600px) {
    footer-bar {
        width: 100%;
        border-radius: 0px;
    }

    .tab {
        font-family: Icons;
        font-size: 4.8mm;
        padding: 14px 14px;
        margin: 4px;
    }
    .tab:hover {
        padding: 14px 24px;
    }

    .backtext {
        -webkit-text-stroke: 2px #fff5;
        font-size: 16mm;
        z-index: auto;
        top: 0;
    }

    .fronttext {
        font-size: 16mm;
        z-index: auto;
        top: 0;
    }

    #titlebox {
        display: flex;
        flex-direction: column;
        padding: 0 0;
        justify-content: center;
        align-items: center;
        z-index: auto;
    }
    #main-content {
        margin: 10px 3vh 3vh 3vh;
        z-index: auto;
    }
    #main-content p {
        font-size: 16px;
    }
    img {
        height: 22vh;
    }
    .imgc {
        height: 26vh;
    }
}
